body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.wrapper {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
h1 {
  font-size: 50px;
  font-weight: 400;
}
.buttons {
  display: flex;
  gap: 20px;
}
button {
  width: 100px;
  height: 45px;
  cursor: pointer;
  border: 0;
  box-shadow: 0 0 0 2px lightblue;
  background-color: lavenderblush;
  border-radius: 8px;
}
.btn_disibled {
  opacity: 0.4;
  pointer-events: none;
}
input {
  height: 20px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc;
}
input:focus {
  outline: none;
}
